{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/intro.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/app.png' %}">
</head>
<body>
    {% include "components/header.html" %}

    {% block content %}
    {% endblock content %}

    {% include "components/footer.html" %}
</body>
</html>