{% load static %}

{% comment %} Formato horizontal padrão com content_left e content_right com imagem {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bases/registration.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/app.png' %}">
</head>
<body>
    <main style="background: linear-gradient(rgba(200, 200, 200, 0.7), rgba(200, 200, 200, 0.7)), url({% static 'images/b3.jpg' %}); 
            background-size: cover; background-position: center; flex: 1;">
            {% block content_left %}
            {% endblock content_left %}
        
            {% block content_right %}
            {% endblock content_right %}
    </main>
</body>
</html>