{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/work.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/app.png' %}">
</head>
<body>
    <header>
        <a class="app" href="/">
            <img class="app-icon" src="{% static 'images/app.png' %}" alt="Logo TaskFlow">
            <span class="app-text" >TaskFlow</span>
        </a>
        <ul class="link">
            <li>
                <a href="">Project</a>
            </li>
            <li>
                <a href="">Board</a>
            </li>
            <li>
                <a href="">Analytics</a>
            </li>
            <li>
                <a href="">Panel</a>
            </li>
            <li>
                <a href="">Settings</a>
            </li>
        </ul>

        <button>Log out</button>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>