{% load static %}

<link rel="stylesheet" href="{% static 'css/header.css' %}">
<header>
    <a href="" class="grow" >
        <img class="app-icon" src="{% static 'images/app.png' %}" alt="Logo TaskFlow">
    </a>
    <ul>
        <li class="grow" ><a href="/">Home</a></li>
        <li class="grow" ><a href="{% url "dashboard_main" %}">Dashboard</a></li>
        <li class="grow" ><a href="{% url "about" %}">Sobre</a></li>
    </ul>
    <button class="login">
        <span>{{user.username}}</span>
        <img class="login-icon" src="{% static "images/user.png" %}" alt="">
    </button>
</header>