{% load static %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<div class="sidebar">
    <br>
    <a class="icon-bar {% if request.path == '/dashboard/' %}active{% endif %}" href="{% url 'dashboard_main' %}">
        <img src="{% static 'images/dashboard.svg' %}">
        <span>Dashboard</span>
    </a>
    <a class="icon-bar {% if request.path == '/projects/' %}active{% endif %}" href="{% url 'projects' %}">
        <img src="{% static 'images/projects.svg' %}">
        <span>Projetos</span>
    </a>
    <a class="icon-bar {% if request.path == '/tasks/' %}active{% endif %}" href="{% url 'tasks' projeto.id %}">
        <img src="{% static 'images/task.svg' %}">
        <span>Tarefas</span>
    </a>
    <a class="icon-bar {% if request.path == '/teams/' %}active{% endif %}" href="{% url 'teams' projeto.id %}">
        <img src="{% static 'images/teams.svg' %}">
        <span>Tarefas</span>
    </a>
    <a class="icon-bar {% if request.path == '/settings/' %}active{% endif %}" href="{% url 'settings' projeto.id %}">
        <img src="{% static 'images/settings.svg' %}">
        <span>Configurações</span>
    </a>


</div>