{% load static %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<div class="sidebar">
    <a class="icon-bar" href="{% url 'dashboard_main' %}">
        <img src="{% static 'images/dashboard.png' %}">
        <span>Dashboard</span>
    </a>
    <a class="icon-bar" href="{% url 'dashboard_projects' %}">
        <img src="{% static 'images/projects.png' %}">
        <span>Projetos</span>
    </a>
    <a class="icon-bar" href="{% url 'task' %}">
        <img src="{% static 'images/task.png' %}">
        <span>Tarefas</span>
    </a>
    <a class="icon-bar" href="{% url 'teams' %}">
        <img src="{% static 'images/teams.png' %}">
        <span>Tarefas</span>
    </a>
  
    <a class="icon-bar" href="{% url 'profile_edit' %}">
        <img src="{% static 'images/user.png' %}">
        <span>Perfil</span>
    </a>
    <a class="icon-bar" href="{% url 'profile_edit' %}">
        <img src="{% static 'images/setting.png' %}">
        <span>Configurações</span>
    </a>


</div>