{% extends "bases/intro.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<h1>TaskFlow</h1>
<span class="description">Neste projeto, buscamos desenvolver um gerenciador de tarefas web com o objetivo de organizar e acompanhar tarefas de forma eficiente. O sistema permitirá classificar as tarefas como concluídas, não concluídas ou em andamento, além de categorizá-las e definir prazos de entrega e finalização. Também será disponibilizada uma tabela para a visualização das tarefas, tanto de um projeto específico quanto do dia a dia.</span>
<button>Começar</button>

{% endblock content %}

