{% extends "bases/base3.html" %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block content_left %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <a href="/" class="grow app" >
        <img class="app-icon" src="{% static 'images/app.png' %}" alt="Logo TaskFlow">
        <span class="app-text">TaskFlow</span>
    </a>
    <div class="content-l">        
        <h1>Bem-vindo ao nosso site!</h1>
        <p>Faça seu cadastro e aproveite todos os nossos serviços.</p>
    </div>
{% endblock content_left %}

{% block content_right %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="content-r">
        <div class="wrapper">
            <h2>Login</h2>
            <form id="formCadastro" name="formulario" action="#">
                <div class="input-box">
                    <input type="email" id="email" placeholder="Digite seu email" required>
                </div>
                <div class="input-box">
                    <input id="txtSenha" type="password" placeholder="Digite sua senha" minlength="5" required> <!-- minlength e maxlenght são usadas para limitar caracteres em um campo input-->
                </div>
                <div class="input-box button">
                    <input type="submit" value="Confirmar">
                </div>
                <div class="text">
                    <h3>Ainda não criou uma conta? <a href="register">Registre-se</a></h3>
                </div>
            </form>
        </div>
    </div>
{% endblock content_right %}

