{% extends "bases/base3.html" %}

{% load static %}

{% block title %}Cadastrar{% endblock title %}

{% block content_left %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <a href="/" class="grow app" >
        <img class="app-icon" src="{% static 'images/app.png' %}" alt="Logo TaskFlow">
        <span class="app-text">TaskFlow</span>
    </a>
    <div class="content-l">        
        <h1>Bem-vindo ao nosso site!</h1>
        <p>Faça seu cadastro e aproveite todos os nossos serviços.</p>
    </div>
{% endblock content_left %}

{% block content_right %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="content-r">
        <div class="wrapper">
            <h2>Cadastro</h2>
            <form id="formCadastro" name="formulario" action="#">
                <div class="input-box">
                    <input type="text" id="userName" placeholder="Insira seu nome" required>
                </div>
                <div class="input-box">
                    <input type="email" id="email" placeholder="Insira seu email" required>
                </div>
                <div class="input-box">
                    <input id="txtSenha" type="password" placeholder="Crie uma senha" minlength="5" required> <!-- minlength e maxlenght são usadas para limitar caracteres em um campo input-->
                </div>
                <div class="input-box">
                    <input id="repetir_senha" type="password" placeholder="Repita a senha" required>
                </div>
                <div class="policy">
                    <input type="checkbox" required>
                    <h3>Aceito todos os termos e condições</h3>
                </div>
                <div class="input-box button">
                    <input type="submit" value="Confirmar">
                </div>
                <div class="text">
                    <h3>Já possui conta? <a href="login">Login</a></h3>
                </div>
            </form>
        </div>
    </div>
{% endblock content_right %}

