{% extends "bases/dashboard.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/project_form.css' %}">
<section class="content">
    <h1 class="smallHeader">Crie seu projeto</h1>
    {% if form.errors %}
    <div class="alert">
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form id="formCriarProjeto" name="formulario" action="{% url 'create_project' %}" method="post">
        {% csrf_token %}
        
        <div class="input-box">
            <input type="text" name="name" id="name" placeholder="Insira o nome do projeto" required>
        </div>
        
        <div class="input-box">
            <input type="text" name="description" id="description" placeholder="Insira a descrição do projeto" required>
        </div>
        
        <div class="input-box">
            <label for="start_date" class="label_date">Data de início: </label>
            <input type="date" name="start_date" id="start_date" required>
        </div>
        
        <div class="input-box">
            <label for="end_date" class="label_date">Data de término: </label>
            <input type="date" name="end_date" id="end_date" required>
        </div>
        
        <div class="input-box button">
            <input type="submit" value="Criar Projeto">
        </div>
        
    </form>
</section>
{% endblock content %}