{% extends "bases/dashboard.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
<section class="field">
    <h1 class="smallHeader">Projetos</h1>
    <ul class="projects">
        <a class="add-project" href="{% url "create_project" %}">
            <img src="{% static 'images/add.svg' %}">
        </a>
        {% for projeto in projects %}
        <a class="project" href="{% url 'project' projeto.project.id %}">
            <strong>{{ projeto.project.name }}</strong>
            <p>{{ projeto.project.description }}</p>
            <div>
                <span>{{ projeto.project.created_at|date:"d/m/Y" }}</span>
                <span>{{ projeto.permission_display }}</span>
            </div>
        </a>
        {% endfor %}
    </ul>
</section>
{% endblock content %}