{% extends "bases/dashboard.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/task.css' %}">
<main class="dashMain">
    <div>
        <h1 class="smallHeader">Projeto</h1>
    </div>
    <section class="tarefas">
        <div class="outerBox">
            <h2>Não iniciado</h2>
            <div class="innerBox">
                <h3>Nome da tarefa</h3>
                <div>
                    <input type="checkbox">
                    <p>Tipo da tarefa</p>
                </div>
                <div>
                    <!-- Deve ter o incone de usuário aqui -->
                </div>
            </div>
            <button>
                <!-- Um icone de adicionar aqui -->
                <p>Criar item</p>
            </button>
        </div>
        <div class="outerBox">
            <h2>Em progresso</h2>
            <div class="innerBox">
                <h3>Nome da tarefa</h3>
                <div>
                    <input type="checkbox">
                    <p>Tipo da tarefa</p>
                </div>
                <div>
                    <!-- Deve ter o incone de usuário aqui -->
                </div>
            </div>
            <button>
                <!-- Um icone de adicionar aqui -->
                <p>Criar item</p>
            </button>
        </div>
        <div class="outerBox">
            <h2>Concluido</h2>
            <div class="innerBox">
                <h3>Nome da tarefa</h3>
                <div>
                    <input type="checkbox">
                    <p>Tipo da tarefa</p>
                </div>
                <div>
                    <!-- Deve ter o incone de usuário aqui -->
                </div>
            </div>
            <button>
                <!-- Um icone de adicionar aqui -->
                <p>Criar item</p>
            </button>
        </div>
    </section>
</main>
{% endblock content %}

