/* Definindo variáveis de cores e fontes */
:root {
    --cor-fundo: #f0f0f0; /* Cor de fundo */
    --cor-texto: #333;    /* Cor do texto */
    --cor-branco: white;  /* Cor branca */
    --cor-preto: black;   /* Cor preta */
    --cor-sombra: rgba(0, 0, 0, 0.3); /* Cor da sombra */
    --cor-botao: #333;    /* Cor do botão */
    --cor-botao-texto: white; /* Cor do texto do botão */
    --font-familia: Arial, sans-serif; /* Família de fontes */
}

/* Estilo global para html e body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    font-family: var(--font-familia);
    color: var(--cor-texto);
}

/* Estilizando o header */
header {
    flex: 1;
    display: flex;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 8px var(--cor-sombra);
}

/* Estilizando o main */
main {
    flex: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Estilizando o footer */
footer {
    flex: 1;
    background-color: var(--cor-branco);
    color: var(--cor-texto);
    padding: 10px;
    text-align: center;
}

.ml-10 {
    margin-left: 10px;
}

.grow {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.grow:hover {
    transform: scale(1.1); 
}

.app-icon {
    width: 40px;
    height: 40px;
}

/* Estilizando a lista (ul) */
ul {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

/* Estilizando os links (a) */
a {
    text-decoration: none;
    color: var(--cor-preto);
    font-weight: bold;
}

/* Estilizando o título h1 */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--cor-texto);
    font-size: 60px;
    font-weight: bold;
}

/* Estilizando a descrição */
.description {
    max-width: 80%;
    margin: 0 auto 20px auto; /* Centralizando */
    font-size: 18px;
}

/* Estilizando o botão */
button {
    background-color: var(--cor-botao);
    border: none;
    color: var(--cor-botao-texto);
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    
    /* Adicionando a transição suave */
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.4s ease-in-out;
}

button:hover {
    background-color: var(--cor-preto);
    color: var(--cor-branco); /* Alterando a cor do texto também */
    transform: scale(1.1); /* Aumenta o tamanho suavemente */
}

button:active {
    background-color: var(--cor-branco);
    color: var(--cor-preto); /* Alterando a cor do texto também */
    transform: scale(1.05); /* Pequena redução ao clicar */
    transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out, transform 0.1s ease-in-out;
}