/* Definindo variáveis de cores e fontes */
:root {
    --cor-fundo: #f0f0f0; /* Cor de fundo */
    --cor-texto: #333;    /* Cor do texto */
    --cor-branco: white;  /* Cor branca */
    --cor-preto: black;   /* Cor preta */
    --cor-sombra: rgba(0, 0, 0, 0.3); /* Cor da sombra */
    --cor-botao: #333;    /* Cor do botão */
    --cor-botao-texto: white; /* Cor do texto do botão */
    --font-familia: Arial, sans-serif; /* Família de fontes */
}

/* Estilo global para html e body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100%;
    flex-direction: row;
    background-color: var(--cor-fundo);
    font-family: var(--font-familia);
    color: var(--cor-texto);
}

/* Estilizando o header */
header {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 8px var(--cor-sombra);
}

/* Estilizando o footer */
footer {
    flex: 1;
    background-color: var(--cor-branco);
    color: var(--cor-texto);
    padding: 10px;
    text-align: center;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.app:hover {
    transform: scale(1.1); 
}

.app-icon {
    width: 35px;
    height: 35px;
}

.app-text {
    font-size: 20px;
    font-weight: bold;
}

/* Estilizando a lista (ul) */
.link {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

/* Estilizando os links (a) */
a {
    text-decoration: none;
    color: var(--cor-preto);
    font-weight: bold;
}

/* Estilizando o título h1 */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--cor-texto);
    font-size: 60px;
    font-weight: bold;
}

/* Estilizando a descrição */
.description {
    max-width: 80%;
    margin: 0 auto 20px auto; /* Centralizando */
    font-size: 18px;
}

/* Estilizando o botão */
button {
    background-color: var(--cor-botao);
    border: none;
    color: var(--cor-botao-texto);
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    
    /* Adicionando a transição suave */
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

button:hover {
    background-color: var(--cor-preto);
    color: var(--cor-branco); /* Alterando a cor do texto também */
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

button:active {
    background-color: var(--cor-branco);
    color: var(--cor-preto); /* Alterando a cor do texto também */
    transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out;
}

.dashMain {
    align-items: flex-start;
    justify-content: start;
}

.smallHeader {
    font-size: 20px;
}

.tarefas {
    display: flex;
    width: 100%;
    gap: 20px;
}

.outerBox {
    background-color: #e6e6e6;
    border-radius: 10px;
    flex: 1;
}

.innerBox {
    background-color: #f3f3f3;
    margin: 5px;
    border-radius: 5px;
    padding: 10px 20px;
}

.outerBox h2 {
    color: #8a8a8a;
    font-size: 20px;
    margin: 20px;
}

.innerBox h3 {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}

.innerBox div {
    display: flex;
    gap: 3px
}

.innerBox div p {
    font-size: 18px;
}

.outerBox button {
    background-color: transparent;
    margin: 5px;
    padding: 20px;
}

.outerBox button p {
    margin: 0px;
    font-size: 16px;
    color: black;
}

