
.preview-bar {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.text-bar {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: rgb(74, 74, 74);
    text-decoration: none;
}

.text-bar:hover {
    color: #a8a8a8;
}

.active {
    color: #00b3b3;
}