
.tarefas {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.outerBox {
    flex: 1;
    background-color: #e6e6e6;
    border-radius: 10px;
    height: min-content;
}

.innerBox {
    background-color: #f3f3f3;
    margin: 5px;
    border-radius: 5px;
    padding: 10px 20px;
}

.outerBox h2 {
    color: #8a8a8a;
    font-size: 20px;
    margin: 20px;
}

.innerBox h3 {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}

.innerBox div {
    display: flex;
    gap: 3px
}

.innerBox div p {
    font-size: 18px;
}

.outerBox button {
    background-color: transparent;
    margin: 10px;
    padding: 15px;
    border: 0px solid transparent;
    border-radius: 5px;
}

.outerBox button:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}

.outerBox button p {
    margin: 0px;
    font-size: 16px;
    color: black;
}

